<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/members/new" method="post"> <!--/members/new에  post 방식으로 전달해 주세요-->
    <label>이름
    <input type="text" name="name"> </label> <!--form에 담아야 웹에 전달됨. -->
    <label>전화번호
    <input type="text" name="phone"> </label>
    <label>주소
    <input type="text" name = "address"></label>
    <label>이메일
    <input type="email" name= "email"></label>
    <input type="submit">
</form>

</body>
</html>